body{
    background-color:#001123;
}
li{
    list-style-type: none;
text-align: center;

}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;

    color:#e31c54;
    font-family: 'Lobster' , cursive;
}
li a{
    text-decoration: none;
    color: #e31c54;
}
#nav-4{
    cursor: pointer;
}
 #play{
 
   text-align: center;
   border-radius: 100%;
   
   font-family:'Lobster', cursive ;
   font-size: large;
   border-color: #517198;
   color: #e31c54;
   background-color: #001123;
   cursor: pointer;
   padding: 6px;

}
/*#play:hover{

}*/
#search-bar{
    background-color: #21252d;
    width: 400px;
    height:25px;
    margin-top: 200px;
    
    white-space: 24px;
    text-overflow: unset;
}
#search{
    align-self: center;
    font-family: 'Lobster', cursive;
    font-size: larger;
    font-weight: bolder;
}
#iconsearch{
    float: left;
}
#pause{
    text-align: center;
   border-radius: 100%;
    display: inline;
    font-family:'Lobster', cursive ;
    font-size: large;
    border-color: #517198;
    color: #e31c54;
    cursor: pointer;
    background-color: #001123;
    padding: 8px;
}
#dark{
    float: right;
    
}

.light-mode {
    background-color: white;
    
  }
  #light{
      float: left;
  }
  .dark-mode{
      background-color: #001123;
  }
#nextsong{
    text-align: center;
    border-radius: 100%;
    
     font-family:'Lobster', cursive ;
     font-size: large;
     border-color: #517198;
     color: #e31c54;
     cursor: pointer;
     background-color: #001123;
     padding: 6px;
}
#control-song{
    display:flex;
    justify-content: space-around;
    margin-top: 14px;
}